certifi==2021.10.8
charset-normalizer==2.0.9
idna==3.3
importlib-metadata==4.10.0
importlib-resources==5.4.0
irc==20.0.0
jaraco.classes==3.2.1
jaraco.collections==3.5.0
jaraco.functools==3.5.0
jaraco.logging==3.1.0
jaraco.stream==3.0.3
jaraco.text==3.6.0
more-itertools==8.12.0
pytz==2021.3
tempora==4.1.2
typing_extensions==4.0.1
urllib3==1.26.7
zipp==3.7.0
schedule==1.1.0
